@import "support/functions";
@import "variables_project";
@import "variables";
@import "support/mixins";

@import "../vendor/bootstrap/scss/bootstrap";

@import "../vendor/Font-Awesome/scss/fontawesome.scss";
@import "../vendor/Font-Awesome/scss/solid.scss";
@import "../vendor/Font-Awesome/scss/brands.scss";

@import "support/utilities";
@import "colors";
@import "boxes";
@import "blog";
@import "code";
@import "nav";
@import "sidebar-tree";
@import "sidebar-toc";
@import "buttons";
@import "breadcrumb";
@import "alerts";
@import "content";
@import "search";
@import "main-container";
@import "blocks/blocks";
@import "section-index";
@import "pageinfo";

@if $td-enable-google-fonts {
    @import url($web-font-path);
}
/* 前ページ、次ページへのリンク */
.xPrevNextLink::after {
    /* float による回り込みの解除 */
    display: block;
    content: "";
    clear: both;
  }
  .xPrevNextLink_prev {
    float: left;
    text-align: center;
    box-sizing: border-box;
    display: block;
    border: 2px solid #447fff;
    background: #fff;
    color: #447fff;
    font-weight: bold;
    padding: 0.5em 1em 0.5em 2em;
    line-height: 1.4;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .xPrevNextLink_prev::after {
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    top: 50%;
    left: 12px;
    margin-top: -6px;
    transform: rotate(225deg);
    border-top: 2px solid #447fff;
    border-right: 2px solid #447fff;
    transition: left 0.3s;
  }
  .xPrevNextLink_prev:hover {
    color: #447fff;
  }
  .xPrevNextLink_prev:hover::after {
    border-color: #447fff;
    left: 7px;
  }
  .xPrevNextLink_prev:active, .xPrevNextLink_prev:focus {
    opacity: 0.8;
  }
   


  .xPrevNextLink_next {
    float: right;
    text-align: center;
    box-sizing: border-box;
    display: block;
    border: 2px solid #447fff;
    background: #fff;
    color: #447fff;
    font-weight: bold;
    padding: 0.5em 2em 0.5em 1em;
    line-height: 1.4;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .xPrevNextLink_next::after {
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -6px;
    transform: rotate(45deg);
    border-top: 2px solid #447fff;
    border-right: 2px solid #447fff;
    transition: right 0.3s;
  }
  .xPrevNextLink_next:hover {
    color: #447fff;
  }
  .xPrevNextLink_next:hover::after {
    border-color: #447fff;
    right: 7px;
  }
  .xPrevNextLink_next:active, .xPrevNextLink_next:focus {
    opacity: 0.8;
  }
  

  
footer {
    min-height: 150px;

    @include media-breakpoint-down(md) {
         min-height: 200px;
    }
}

// Adjust anchors vs the fixed menu.
@include media-breakpoint-up(md) {
    .td-offset-anchor:target {
        display: block;
        position: relative;
        top: -4rem;
        visibility: hidden;
    }

    h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before {
        display: block;
        content: " ";
        margin-top: -5rem;
        height: 5rem;
        visibility: hidden;
    }
}

@import "styles_project";